.App {
  text-align: center;
  background: url("../assets/weather-image.jpg");
  background-size: cover;
  height: 100vh;
}

h1 {
    margin: 0;
    padding: 150px 50px 50px;
}

input {
  padding: 15px;
  font-size: 1.6rem;
}